<% if user_signed_in? %>
  <% if current_user.favorites.find_by(item_id: @item.id) %>
    <%= link_to item_favorites_path(@item), method: :delete, class:"favorite-btn", remote: true do %>
      <div class="icon">
       🌟 
      </div>
      <div class="text">
       いいね!　
      </div> 
      <div class="count">
       <%= @item.favorites.count %>
      </div>
    <% end %>
  <% else %>
    <%= link_to item_favorites_path(@item), method: :post, class:"favorite-btn2", remote: true do %>
    <div class="icon">
      <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
    </div>
    <div class="text">
      いいね!　
    </div> 
    <div class="count">
      <%= @item.favorites.count %>
    </div>
  <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do %>
    <div class="icon">
      <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
    </div>
      <div class="text">
      いいね!
    </div> 
    <div class="count">
      <%= @item.favorites.count %>
    </div>
  <% end %>
<% end %>