<header class='top-page-header'>
  <div class='search-bar-contents'>
  <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= search_form_for Item.ransack(params[:q]), url: search_items_path, html: {class: "search-form"} do |f| %>
      <%= f.text_field :name, placeholder: 'キーワードから探す', class: 'input-box' %>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '商品一覧', search_items_path, class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to 'お問い合わせはこちら', "#", class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout", data: { confirm: 'ログアウトしますか？'} %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>
<h1><%= @user.nickname %> のマイページ</h1>
<div class="cardnone">
  <div class="statement">⚠️</div>
  <div class="statement2">
    <p>支払い用カード情報の登録がまだされていないようです。
    <br>カードを登録してお買い物を楽しみましょう。
    <%= link_to '👉カード情報の登録はこちら', "#", class: "card_in" %></p>
  </div>
</div>
<% if @card.exp_month == @month && @card.exp_year == @year && current_user.id == @user.id %>
  成功です(期限)
  <% else %>
  カードはまだ有効です
<% end %>
<p>未完成</p>
<% unless @card.present? %>
カード情報無し
<% else %>
カード情報あり
<% end %>
<div class="cardpanic">
  <div class="statement">⚠️</div>
  <div class="statement2">
    <p>カードの有効期限が近づいていますので、情報の更新をお願い致します。
    <br>有効期限 : <%= @card.exp_year %>年 <%= @card.exp_month %>月 31日
    <%= link_to '👉カード情報の更新はこちら', "#", class: "card_up" %></p>
  </div>
</div>
<%= link_to "編集", edit_user_path(current_user), class: "edit_user" %>

 <div class="user_item">
  <h1><%= @user.nickname %>さんの出品商品一覧</h1>
    <ul class="item-lists">
    <% @user.items.each do |item| %>
      <li class='itemss'>
      <%= link_to item_path(item.id), method: :get do %>
        <div class='item-img-content'>
          <%= image_tag item.images[0], class: "item-img" %>

        <%# 商品が売れている場の表示 %>
        <% if item.order %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
        <% end %>
        <%# //商品が売れている場の表示装 %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.burden.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      <% end %>
      </li>
    <% end %>
    </ul>
</div>