<header class='top-page-header'>
  <div class='search-bar-contents'>
  <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= search_form_for Item.ransack(params[:q]), url: search_items_path, html: {class: "search-form"} do |f| %>
      <%= f.text_field :name, placeholder: 'キーワードから探す', class: 'input-box' %>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '商品一覧', search_items_path, class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <% unless current_user.admin?%><li><%= link_to 'お問い合わせ', connects_path, class: "logout2" %></li><%end%>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout", data: { confirm: 'ログアウトしますか？'} %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>
  <% if user_signed_in? && current_user.admin?  %>
    <h2 class="admin">管理者モード</h2>
  <% end %>

<% if user_signed_in? %>
<h1><%= @user.nickname %></h1>
<% unless current_user.admin? %>
<% current_user.id == @user.id %>
  <% unless @card.present? %>
    カード情報無し
    <div class="cardnone">
      <div class="statement">⚠️</div>
      <div class="statement2">
       <p>支払い用カード情報の登録がまだされていないようです。
       <br>カードを登録してお買い物を楽しみましょう。
        <%= link_to '👉カード情報の登録はこちら', new_card_path, class: "card_in" %></p>
      </div>
    </div>
  <% else %>
    カード情報あり
    <% if @card.exp_month == @month && @card.exp_year == @year %>
      成功です(期限が接近中)
      <div class="cardpanic">
        <div class="statement">⚠️</div>
        <div class="statement2">
        <p>カードの有効期限が近づいていますので、情報の更新をお願い致します。
        <br>有効期限 : <%= @card.exp_year %>年 <%= @card.exp_month %>月 31日
        <%= link_to '👉カード情報の更新はこちら', "#", class: "card_up" %></p>
        </div>
      </div>
    <% else %>
    カードはまだ有効です
  <% end %>
<%= link_to "編集", edit_user_path(current_user), class: "edit_user" %>
<%= link_to "ka-do編集", edit_card_path, class: "edit_user" %>
<% end %>
<% end %>
<% end %>



 <div class="user_item">
  <% if @user.items.present? %>
  <h1><%= @user.nickname %>さんの出品商品一覧</h1>
  <% else %>
    <% if current_user.admin? %>
      <p class="admin_item_exist">🌟テックキャンプさん、今までありがとうございました！！🌟</p>
    <% else %>
      <p class="item_exist"><%= @user.nickname %>さんはまだ商品を出品していません</p>
    <% end %>
  <% end %>
    <ul class="item-lists">
    <% @user.items.each do |item| %>
      <li class='itemss'>
      <%= link_to item_path(item.id), method: :get do %>
        <div class='item-img-content'>
          <%= image_tag item.images[0], class: "item-img" %>

        <%# 商品が売れている場の表示 %>
        <% if item.order %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
        <% end %>
        <%# //商品が売れている場の表示装 %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.burden.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      <% end %>
      </li>
    <% end %>
    </ul>
</div>
  <%= link_to(new_item_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>出品する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<%= render "shared/footer" %>